[submodule "rpim_pc"]
	path = rpim_pc
	url = https://github.com/HxHSociety/rpim_pc.git
[submodule "core_data"]
	path = core_data
	url = https://github.com/HxHSociety/core_data.git
[submodule "gltf_convertor"]
	path = gltf_convertor
	url = https://github.com/HxHSociety/gltf_convertor.git
[submodule "rpim_solver"]
	path = rpim_solver
	url = https://github.com/HxHSociety/rpim_solver.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/HxHSociety/frontend.git
