[submodule "rpim_pc"]
	path = rpim_pc
	url = https://github.com/aakysank1993/rpim_pc.git
[submodule "core_data"]
	path = core_data
	url = git@github.com:aakysank1993/core_data.git
[submodule "gltf_convertor"]
	path = gltf_convertor
	url = git@github.com:aakysank1993/gltf_convertor.git
